/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.tabla{
       -fx-background-color: transparent;
       -fx-font-size:20px;
       -fx-font-family:"Apple Chancery";
}
.tabla .column-header{
        -fx-text-fill:#ffffff;
       -fx-font-family:"Arial Black";
}
.column-header{
       -fx-background-color: #94690d;
}