/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.bg-cafeGradient{
    -fx-background-color:linear-gradient(#e6b850,#c48c15);
}
.bg-cafeOscuro{
    -fx-background-color:#a4740c;   
}
.txt-standar{
    -fx-font-size:20px;
    -fx-text-fill:#ffffff;
}
.btn-txt{
  -fx-text-fill:#ffffff;  
    -fx-font-size:15px;
}
.btn-bg-cafeOscuro{   
    -fx-background-color:#94690d;
}
.btn-bg-cafeOscuro:hover{
    
    -fx-background-color:#785815;
}
.drop-shadow:hover {
    -fx-effect: dropshadow(gaussian, #feebb3, 30, 0.4, 0, 0);
}